body{
  margin: 0;
}

.header{
  background-color: rgb(62, 62, 160);
  color: white;
  text-align: center;
  font-size: 36pt;
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 2px;
}

.main{
  display: flex;
}

h1{
  text-align: center;
}

.aside{
  padding-left: 10em;
}

.main-article{
  padding-left: 20em;
}

#blue-bar{
  min-height: 25px;
  width: 45%;
  background-color: lightblue;
  padding-left: 13em;
  margin-left: 11em;
  margin-top: 2em;
}

.article-title{
  font-size: 23pt;
  padding-left: 2em;
  font-weight: normal;
  margin-top: 35px;
}

.article-text{
  padding-left: 13em;
}

.aside-text{
  font-size: 10pt;
  margin-top: 6px;
  padding-right: 5em;
}

#text-effect{
  font-weight: normal;
  margin-bottom: 0;
}

.footer{
  min-height: 175px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color:  rgb(62, 62, 160);
  border-style: solid;
  border-color: black;
}

img{
  padding-top: 4.5em;
}